<%- include('../partials/header') %>

  <h1>Welcome to Brian's Interests</h1>
  <p>This site features topics I enjoy: Pokémon, Soccer, and Rainbow Six Siege.</p>

<%- include('../partials/footer') %> 