<%- include('../partials/header') %>
  <h1>Rainbow Six Siege</h1>
  <p>Rainbow Six Siege is a tactical shooter that emphasizes team coordination and strategy. Players choose operators with unique gadgets and roles.</p>
  <p>The game is known for destructible environments and intense multiplayer matches.</p>
  <p><strong>Source:</strong> <a href="https://www.ubisoft.com/game/rainbow-six/siege" target="_blank">Ubisoft</a></p>

 <img src="/image/Rainbow.jpg" alt="Rainbow six X">

<%- include('../partials/footer') %> 