<%- include('../partials/header') %>
     
  <h1>Soccer</h1>
  <p>Soccer (or football) is the world's most popular sport played with a round ball and two teams of 11 players.</p>
  <p>Leagues like the Premier League, La Liga, and Champions League are followed by millions.</p>
  <p><strong>Source:</strong> <a href="https://www.fifa.com" target="_blank">fifa.com</a></p>

 <img src="/image/city.png" alt="Manchester City">

<%- include('../partials/footer') %> 